<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
=======
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
>>>>>>> 2450ab4a77ff521f0fcc6cd59df0d3e4c242065b
  <link rel="stylesheet" href="/css/style.css">
  <title>Message Board</title>
</head>
<body>
<<<<<<< HEAD
  <h1>Today is: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric' , month: 'long' , day: '2-digit' }).format(new
      Date()) %>
  </h1>
=======
  <h1>Posted @ <%= time %></h1>
>>>>>>> 2450ab4a77ff521f0fcc6cd59df0d3e4c242065b
  <div class='aligncenter'>
    <ul>
      <% messages.forEach(function(message, idx) { %>
      <li>
        <form action="/messages/<%= message._id %>?_method=DELETE" method="post">
          <button type="submit">Destroy🔥</button>
        </form>
        <a href="/messages/<%= message._id %>">
          <%= message.title %>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
<<<<<<< HEAD
  <br>
  <br>
  <a href="/messages/new">
    <h3>Add a Message!</h3>
  </a>
=======
  <a href="/messages/new"><h3>Add 🤫 Message</h3></a>
>>>>>>> 2450ab4a77ff521f0fcc6cd59df0d3e4c242065b

</body>
</html>
